body {
    background-image: url(../images/circuito.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#Logo {
    display: inline-block;
  max-height: 56px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
  vertical-align: middle;
}