body,
h1,
h2,
h3,
p,
div,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  font-family: sans-serif;
  transition: background-color 0.3s ease;
}
.nav-item {
  font-size: 18px;
}

#Logo {
  display: inline-block;
  max-height: 56px;
  max-width: 225px;
  padding: 8px 10px 8px 12px;
  vertical-align: middle;
}

#Anjos {
  color: white;
  font-size: 64pt;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 500;
  position: relative;
}

#texto {
  color: #1c4587;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.linha {
  border: 1px solid black;
  width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

#carrosel_img {
  width: 65%;
  height: 200%;
}