@media (max-width: 425px) {

  #Anjos {
    font-size: 35pt;
  }

  .custom-row {
    margin-right: -5px;
    margin-left: 0px;
  }

  #junior {
    max-width: 100%;
    left: 10%;
  }
}

@media (max-width: 725px) {

  #carrosel_img {
    width: 100%;
    height: 200%;
  }

  .carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

  #botão {
    width: 30%;
  }

  #botão2 {
    width: 40%;
  }

  #junior {
    max-width: 80%;
    left: 10%;
  }
}
